html, body{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gold;
}

#info{
    width: 100vw;
    height: 5vh;
    background-color: silver;
    text-align: center;
}
#results{
    width: 100vw;
    height: 25vh;
    background-color: bisque;
    text-align: center;
}

div{
    font-size: 30px;
}