html, body{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gold;
}

#info{
    width: 100vw;
    height: 5vh;
    background-color: silver;
    text-align: center;
}
#results{
    width: 100vw;
    height: 25vh;
    background-color: bisque;
    text-align: center;
}

div{
    font-size: 25px;
}

#name{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    font-size: 1.5rem;
    line-height: 2;
    padding: 5% 0;
    margin-top: 5%;
    width: 70%;
    text-align: center;
    background-color: lightblue;
    border-radius: 25px;
    border: 1vh solid darkorange;
}

#startNew{
    display: none;
    color: red;
    padding-top: 5%;
}

.redBg{
    background-color: red!important;
}